<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Copy to Secrets.plist (git-ignored) and fill in. See README. -->
<plist version="1.0">
<dict>
	<key>APP_SERVICES_URL</key>
	<string>wss://YOUR-ID.apps.cloud.couchbase.com:4984/fieldproof</string>
	<key>USER_CREW_VALLEY</key>
	<string>change-me</string>
	<key>USER_CREW_TUOLUMNE</key>
	<string>change-me</string>
	<key>USER_SUPERVISOR</key>
	<string>change-me</string>
</dict>
</plist>
