<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue-Regular.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-SemiBold.ttf</string>
		<string>SourceSerif4-Regular.ttf</string>
		<string>SourceSerif4-Semibold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
	</array>
</dict>
</plist>
